*{
    padding: 0 auto; 
    margin: 0 auto;
}

#contenedor {
    width: 900px;
    height: 1200px;
    background-color: #d49e23;
}
#Encabezado{
    height: 25%;
    background-color: #d9bd1f;
    color: rgb(255, 255, 255);
    font-size: 23px;
    text-align: center;
}
#menu{
    height: 5%;
    font-family:Impact;
    background-color: #713505;
}
#seccion1 {
    height: 30%;
    background-color: #b01a1c;
    border: 2px;
    margin-bottom: 3%;
    border: #68531E;
 
}
#seccion2 {
    height: 30%;
    background-color: #dcc43c;
    border: 2px;
    border-color: #68531E;;
   
}
  

#piePagina{
    height: 10%;
    background-color: #744607;
    color: #ddd;
    text-align: center;
}

.texto{
    text-align: justify;
    font-family: Arial;
    color: aqua;
margin-left: 20px;
}
.texto2{
    text-align: justify;
    font-family: Arial;
    color: aqua;
    margin-left: 50%;
    margin-right: 20px;
}
.barranav{
    display: inline;
    text-align: center;
    background-color: rgb(179, 23, 23);
    color: white;
}

.encabezado{
    text-align: center;
    font-size: 60px;
    color: white;
}
.pie{
    text-align: center;
    font-family: Tahoma;
    font-size: 20px;
    color: white;
}
.encabezadoseccion1{
    text-align: left;
    font-size: 20px;
    color: white;
}
.encabezadoseccion2{
    text-align: right;
    font-size: 20px;
    color: white;
}

ul{
    text-align: center;
    display: inline;
}

li{
    display: inline;
padding-left: 60px;
padding-right: 60px;

}

img{
    display: inline;
    width: 100px;
    height: 100px;
    border: 1px solid;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;

}